<div class="container">
  <div class="jumbotron">
    <div class="page_content">
      <div class="text-rigth">
        <% if current_user %>
          <img src=<%= current_user.image_path %> class="img-thumbnail" alt="Profile Picture" width="304" height="236">
        <% end %>
        <p>
          <strong><%= current_user.first_name %></strong>
        </p>
        <%= button_to "Generate Search", search_index_path, class: "btn btn-outline-secondary", method: :get%>
      </div>
    </div>
  </div>
</div>
