<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <% if current_user %>
    <a class="navbar-brand" href="/dashboard"><strong>RandomRes</strong></a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </ul>
      <% else %>
      <div class="navbar-brand">
        <strong>RandomRes</strong>
      </div>
    <% end %>
  </div>
</nav>
