<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <strong>RandomRes</strong>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to "Logout" %></li>
    </ul>
  </div>
</nav>
