<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <strong>RandomRes</strong>
    </div>
    <% if current_user %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Logout", google_logout_path, method: :delete %></li>
    </ul>
    <% end %>
  </div>
</nav>
