<div class="container">
  <div class="jumbotron">
    <div class="page_content text-center">
      <p>
        Welcome to the best app you never knew you needed! The purpose behind this app is geared towards relieving all the stress and indecision pertaining to the question of "Where should we go to eat?". This question is surely followed by an ongoing, back and forth conversation of "I don't care, what would you like?". However, by utilizing this app you can simply generate a search and enjoy the returned options. Enjoy!
      </p>
      <p>
        Would you like to login with:
      </p>
      <%= button_to "Google", google_login_path, class:  "btn btn-outline-secondary"%>
    </div>
  </div>
</div>
