/*Declare each .scss file below with @import 'file_name';*/
body {
  background-attachment: fixed;
  background-image: image-url('random_restaurant.JPG');
  background-position: center;
  background-size: cover;
}

.page_content {
  padding: inherit;
  background-color: rgb(144, 144, 144);
  background-position: center;
}

.jumbotron {
  margin-top: 10%;
}

p {
  text-decoration-color: rgb(75, 153, 173);
}

.restaurant_name {
  padding-top: 5px;
  font-size: 25px;
  border-bottom: medium solid;
  border-color: rgb(255, 255, 255);
}

.search_content {
  border-left: medium ridge;
  height: 200px;
  box-shadow: 10px 10px 5px rgb(77, 89, 83);
  padding-top: 15px;
}

.dashboard_content {
  border-left: medium ridge;
  height: 332px;
  box-shadow: 10px 10px 5px rgb(77, 89, 83);
  padding-top: 15px;
}

.search_buttons {
  padding-top: 30px;
}

.flash_danger {
  background-color: rgb(227, 22, 22);
}

.generate_search {
  padding-top: 50px;
}
